---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-comment">
    <h1>Comments</h1>
    <ul class="comment-list" id="comments"><li>This is a comment</li></ul>

    <div>
      <span>Write your comment here!</span>
      <textarea class="comment-box" id="body"></textarea>
      <button id="submit-button">Post Comment</button>	
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js"></script>
    <script src="/Comment_Section.js"></script>

  </div>

</article>
